
    <% if (loginp) { %>

      <a href="bots/<%= user.id %>/add" class="btn btn-danger bots">Agregar Bot</a>

      <% } %>

  <div class="row row-cols-2 row-cols-md-2 g-4 mt-4 text-center">
    <% for (var i = 0; i < bots.length && usuario.length; i++) {
      %>

      <div class="col">

        <div class="card mb-3 h-100" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://cdn.discordapp.com/avatars/<%= bots[i].id_bot %>/<%= usuario[i] %>.png" class="card-img-top img-fluid rounded-circle" alt="<%= bots[i].title %>">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= bots[i].title %></h5>
                <p class="card-text">
                  <%= bots[i].description %>
                </p>
                <a href="#" class="btn btn-primary">Ver</a>
                <a href="https://discord.gg/<%= bots[i].invite %>" class="btn btn-primary">Invitar</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%
    } %>